.services-bg {
    background-image:linear-gradient(#ffffffcc,#ffffffd2),url('https://previews.123rf.com/images/kritchanut/kritchanut1811/kritchanut181100013/114001919-pills-and-medical-equiupments-including-stethoscope-syringe-and-scissors-at-border-on-green-banner-b.jpg');
    
    height: 400px;
}


.services_head{
    margin: 0px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: bold;
    color: #29ccec;
    text-transform: uppercase;
}

.services-p {
    letter-spacing: 2px;
    font-weight: 400;
}

.btn {
    background: #3dc5df;
    padding: 6px 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;


}

.btn:hover{
    background: #1597b1d5;
    color: #fff;
}

.about-heading {
    font-size: 58px;
    margin-bottom: 50px;
    font-weight: 400;
    margin-top: 90px;
}

.text-custom {
    color:#3dc5df;
    font-weight: 600;
    /* font-weight: 65px; */
}

@media only screen and (max-width:688px) {

    .services-bg {
        width: 480px;
    }
   
        
}